body {
    background: #015aa3;
}

#titleCard {
    text-align: center;
}

.container {
    align-content: center;
}

form {
    padding: 5px;
}

.gifButton {
    margin: 5px;
}

.card {
    margin: 5px;
    color: black;
}

#clickHere {
    color: black;
}

img {
    border-radius: 5px;
    transition: 0.3s;
}

img:hover {
    border: 3px grey solid;
}